logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/conf/expenseapphit-firebase-adminsdk-1qhts-f00f7381b7.json
